<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/static/index.css">
  </head>
  <body>
    <h1>Login</h1>
    <h2>Please fill up the form</h2>
    <form method="POST" enctype="multipart/form-data">
    <div class="col">
        <label for="name">Your name</label>
        <input id="name" type="text" name="name" maxlength=128 minlength=3 placeholder="Joe" required/>
    </div>
    <div class="col">
      <label for="password">Your password</label>
      <input  id="password" type="password" name="password" maxlength=128 minlength=4 placeholder="secretPassword" required/>
    </div>
    <div class="col">
      <input  id="submitLogin" type="submit"/>
    </div>
    </form>
	{{/* TODO: add JS <script src="index.js"></script> */}}
  </body>
</html>