<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/static/index.css">
  </head>
  <body>
    <h1>Welcome</h1>
    <h2>Submit your work</h2>
    <form method="POST" enctype="multipart/form-data">
    <div class="col">
        <label for="name">Your name:</label>
        <input  id="name" type="text" name="name" maxlength=128 minlength=4 required/>
    </div>
    <div class="col">
         <label for="textFile">Your text file:</label>
        <input  id="textFile" type="file" name="textFile" accept=".doc, .docx, .text, .txt" required/>
    </div>
    <div>
        <input type="submit"/>
    </div>
    </form>
    <form method="GET" action="/logout">
    <div class="col">
      <input id="submitLogout" type="submit"/>
    </div>
    </form>
    {{if .Text}}
    <p> information submitted successfully </p>
    <h2>File title</h2>
    <p>{{.Name}}</p>
    <h2>File content</h2>
    <p>{{.Text}}</p>
    <a href="/text"> see my information</a>
    {{end}}
	{{/* TODO: add JS <script src="index.js"></script> */}}
  </body>
</html>